.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-category-2 {
  flex: 1; /* Prend tout l'espace disponible (sera réduit si le GIF a besoin de place) */
  max-width: 60%; /* Évite que le formulaire soit trop large */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: black;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
*

.container-card {
  position: relative;
}
