.h2-show {
  color: #3D3BF3;
  font-family: "Roboto Mono", monospace;
}

.show {
  color: #6674f3;
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: "Roboto Mono", monospace;
}

.text-secondary {
  font-family: "Roboto Mono", monospace;
}

a {
  font-family: "Roboto Mono", monospace;
}

a:hover {
  color: #6674f3;
}

span {
  font-family: "Roboto Mono", monospace;
}
